#gamePanel{
    height: 600px;
    width: 1000px;
    background: white;
    text-align:center;

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -320px;
    margin-left: -500px;

    padding-left:15px;
    padding-top:20px;
}


#spotifyLogout{
    width:40px;
    height:40px;
    background-image:url("https://static.fjcdn.com/pictures/Which+close+button+should+i+use+i+have+this+two_e08deb_5442440.png");

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor:pointer;
}

#spotifyLogout:hover{
    width:41px;
    height:41px;

    margin-top:-0.5px;
    margin-left:-0.5px;
}


.btnAnswer {
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background:  #64d36d;
    padding: 10px 40px 10px 40px;
    text-decoration: none;
    cursor:pointer;
}

.btnAnswer:hover {
    background: #519956;
    text-decoration: none;
}

.btn {
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background:  #64d36d;
    padding: 10px 40px 10px 40px;
    text-decoration: none;
    cursor:pointer;
}

.btn:hover {
    background: #519956;
    text-decoration: none;
}

#loading {
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
}

#loadingText{
    font-size:3em;
    font-weight: bold;
    margin-bottom:20px;
}

#answerResult{
    font-size:3em;
}

#artistImage{
    border-radius:100px;
    border:4px #519956 solid;
    margin-bottom:10px;
}

#songName{
    font-size:2em;
}

#artistName{
    font-size:1.25em;
    font-weight:bold;
}

#scoreText{
    margin-top:30px;
    font-size:2em;
    font-weight:bold;
}